<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>메인 페이지</title>
    <link rel="stylesheet" th:href="@{~/css/header.css}">
    <link rel="stylesheet" th:href="@{~/css/main.css}"> <!-- main.css 추가 -->
</head>
<body>

<div th:replace="~{header :: header}"></div>

<!-- main 컨테이너 추가 -->
<div class="main-container">
    <h1>연습용으로 만든 게시판 입니다.</h1>
    <h1>회원가입 후 로그인을 하면 글 작성 및 댓글 작성이 가능합니다.</h1>
    <h1>로그인 후 마이페이지 항목에서 회원 탈퇴를 할 수 있습니다.</h1>
    <h1>회원 탈퇴 시 작성한 글과 댓글은 전부 삭제됩니다.</h1>
    <h1>불건전한 내용의 글과 댓글은 지양해주세요, 감사합니다.</h1>
</div>

</body>
</html>