<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <link rel="stylesheet" th:href="@{~/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/login-register.css}">
</head>
<body>

<div th:replace="~{header :: header}"></div>

<div class="form-container">
    <h4>로그인</h4>

    <div th:if="${error}" th:text="${error}" class="error-message"></div>

    <form action="/check/login" method="POST" class="auth-form">
        <input name="memberName" placeholder="이름" class="form-input">
        <input name="password" placeholder="비밀번호" type="password" class="form-input">
        <button type="submit" class="form-button">로그인</button>
    </form>

    <p class="form-link">아직 회원이 아니신가요? <a href="/members/register">회원 가입</a></p>
</div>

</body>
</html>
