/* main.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
/* main 컨테이너 스타일 */
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* 가로 정렬을 가운데로 */
    justify-content: center; /* 세로 정렬을 가운데로 */
    height: 70vh; /* 화면 전체 높이 */
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f7fafc; /* 배경색 추가 */
}

/* main 컨테이너 내부의 <h1> 요소 스타일 */
.main-container h1 {
    text-align: center; /* 텍스트 가운데 정렬 */
    margin: 1rem 0; /* 줄 간격 조정 */
    font-size: 1.5rem; /* 글씨 크기 조정 */
    color: #2d3748; /* 기본 글씨 색상 */
}

/* main 컨테이너 내부의 마지막 <h1> 요소 스타일 */
.main-container h1:last-of-type {
    color: red; /* 빨간색 글씨 */
    font-weight: bold; /* 글씨 두껍게 */
    border-bottom: 2px solid red; /* 빨간색 밑줄 */
    padding-bottom: 0.5rem; /* 밑줄과 텍스트 간격 */
}